.container {
  background-color: white;
  width: 95%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  font-size: 1.5rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.createLobbyContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: .5rem auto;
  width: calc(100% - 1rem);
  height: 100%;
}