.container {
  background-color: white;
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  opacity: 0;
  border-radius: 1rem;
  font-size: 1.5rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);

  align-items: center;
  z-index: 4;
}

.container .error {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 1.5rem;
  text-align: center;
  color: #000000;
}

.container .subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #9C9C9C;
  margin: 0.5rem 0 1.5rem 0;
}