@import url("./keyframes.css");

.prelobbyContainer {
  background-color: white;
  width: 98%;
  height: 100%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  font-size: 1.5rem;
  z-index: 4;
  overflow: auto;
  justify-content: space-between;
}

.prelobbyContentContainer {
  position: relative;
  width: calc(100% - .1rem);
  height: 100%;
  background: rgb(204,102,0);
  background: linear-gradient(318deg, rgba(204,102,0,1) 0%, rgba(255,171,43,1) 36%, rgba(255,200,111,1) 100%);
  border-radius: 1rem;
  overflow: hidden;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prelobbyContentOuter {
  background-color: rgb(226, 226, 226);
  width: calc(100% - 1rem);
  height: calc(70% - 1rem);
  border-radius: 1rem;
  margin: .5rem auto;
  box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prelobbyContent {
  background-color: white;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.prelobbyTitle {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem auto;
  text-align: center;
  position: absolute;
  user-select: none;
  justify-self: center;
  align-self: center;
  top: calc(30% - 1rem);
  color: rgba(0, 0, 0, 0.3);
}