.user {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  height: fit-content;
  width: calc(100% - 2.5rem);
  border-radius: 1rem;
  background-color: rgb(255, 174, 94);
  padding: 1rem 1rem;
  margin: 0 0 .5rem 0;
  transition: all .1s ease-in-out;
}

.user:hover {
  background-color: rgb(255, 189, 124);
  transition: all .1s ease-in-out;
}

.self {
  background-color: rgb(255, 213, 171);
}

.self:hover {
  background-color: rgb(255, 227, 200);
}

.user .avatar {
  position: relative;
  justify-self: flex-end;

  margin: 0 1rem 0 0;
  width: 4rem;
  height: 4rem;
  color: black;
  background-color: white;
}

.user .userData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}