.gameSidebarContainer {
  position: relative;
  width: 25%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  user-select: none;
}

@media screen and (max-width: 1200px) {
  .gameSidebarContainer {
    display: none;
  }
}