.createSelectGenereArrowDown {
  position: absolute;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid white;
  cursor: pointer;
  bottom: calc(100% + .3rem);
  animation: popup .3s ease-in-out;
}

.createSelectGenere {
  /* position in top left of container */
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: fit-content;
}

.createSelectGenere .genere {
  position: relative;
  width: calc(10vw - 20px);
  height: calc(10vw - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  background: #000;
  border-radius: .5rem;
  cursor: pointer;
  margin: 1rem;
}

.createSelectGenere .genereIcon {
  position: absolute;
}

.genereIcon svg {
  transition: all .1s ease-in-out;
  font-size: 400%;
  color: rgba(255, 255, 255, 0.3);
}

/* on hover genere change size of svg */
.genere:hover .genereIcon svg {
  font-size: 500%;
}