.color {
  position: absolute;
  bottom: -25rem;
  left: -25rem;
  height: 50rem;
  width: 50rem;
  border-radius: 50%;
  opacity: 0;
}

.first {
  background-color: rgba(204, 102, 0, 1);
  z-index: 1;
  animation-timing-function: cubic-bezier(0.57, 0.4, 0.55, 1.17);
  animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-name: backgroundAnimation;
}

.second {
  background-color: rgba(255, 169, 41, 1);
  z-index: 2;
  animation-timing-function: cubic-bezier(0.57, 0.4, 0.55, 1.17);
  animation-fill-mode: forwards;
  animation-delay: .5s;
  animation-duration: 1.1s;
  animation-name: backgroundAnimation;
}

.third {
  z-index: 3;
  animation-timing-function: cubic-bezier(0.57, 0.4, 0.55, 1.17);
  animation-fill-mode: forwards;
  animation-delay: .5s;
  animation-duration: 1.4s;
  animation-name: backgroundAnimation;
  background-color: rgba(255, 200, 112, 1);
}

.wave {
  z-index: 4;
  position: absolute;
  height: 21%;
  width: 100%;
  bottom: 0;
  opacity: 0;
  user-select: none;
  animation: fadeIn 2s 1.5s 1 forwards;
}