.color {
  position: absolute;
  bottom: -100rem;
  left: -100rem;
  width: 0;
  height: 0;
  border-radius: 50%;
}

.first {
  animation-timing-function: cubic-bezier(0.57, 0.4, 0.55, 1.17);
  animation: backgroundAnimation 1s 0s 1 forwards;
  background-color: rgba(204, 102, 0, 1);
  z-index: 1;
}

.second {
  animation-timing-function: cubic-bezier(0.57, 0.4, 0.55, 1.17);
  animation: backgroundAnimation 1.1s .5s 1 forwards;
  background-color: rgba(255, 169, 41, 1);
  z-index: 2;
}

.third {
  animation-timing-function: cubic-bezier(0.57, 0.4, 0.55, 1.17);
  animation: backgroundAnimation 1.4s .5s 1 forwards;
  background-color: rgba(255, 200, 112, 1);
  z-index: 3;
}

.wave {
  z-index: 4;
  position: absolute;
  height: 21%;
  width: 100%;
  bottom: 0;
  opacity: 0;
  animation: fadeIn 2s 1.5s 1 forwards;
  user-select: none;
}