@keyframes backgroundAnimation {
  0% {
    opacity: 0;
    height: 0;
    width: 0;
    transform: scale(0);
  }

  80% {
    opacity: 1;
    height: 50rem;
    width: 50rem;
    transform: scale(8);
  }

  100% {
    opacity: 1;
    height: 50rem;
    width: 50rem;
    transform: scale(100);
  }
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}