.header {
  width: 100%;
  height: 5rem;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.header .backButton {
  position: relative;
  font-size: 1.5rem;
  cursor: pointer;
  /* border: 1px solid black; */
  background-color: rgb(211, 211, 211);
  justify-self: center;
  align-self: center;
  left: 1rem;
  width: 3rem;
  height: 3rem;
  transition: all .2s ease-in-out;
}

.header .backButton:hover {
  background-color: rgb(226, 226, 226);
  transition: all .2s ease-in-out;
}

.header .title {
  position: relative;
  font-size: 1.5rem;
  justify-self: center;
  align-self: center;
  right: 2rem;
}