.createSelectDifficulty {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: calc(100% - 4rem);
  height: calc(10% + 3rem);
  background-color: rgba(204, 102, 0, 1);
  border-radius: 1rem;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.5);
  /* overflow: hidden; */
  margin: 1rem auto 0 auto;
  padding: 1rem;
  border: .2rem solid rgba(255, 169, 41, 1);
}

.createSelectDifficulty button {
  position: relative;
  width: calc(33.33% - 1rem);
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: .8rem;
  cursor: pointer;
  margin: 0 .5rem;
  transition: all .1s ease-in-out;
  font-size: 1.8rem;
  font-weight: bold;
  opacity: 0.6;
  box-sizing: border-box;
}

.createSelectDifficulty .easy {
  background-color: rgb(0, 255, 1);
  border: .4rem solid rgb(0, 180, 0);
}

.createSelectDifficulty .normal {
  background-color: rgb(255, 255, 0);
  border: .4rem solid rgb(180, 180, 0);
}

.createSelectDifficulty .hard {
  background-color: rgb(255, 0, 0);
  border: .4rem solid rgb(180, 0, 0);
}

.createSelectDifficulty .easy:hover {
  background-color: rgb(0, 255, 1);
  border: .4rem solid rgb(0, 220, 0);
  color: black;
  opacity: 1;
}

.createSelectDifficulty .normal:hover {
  background-color: rgb(255, 255, 0);
  border: .4rem solid rgb(220, 220, 0);
  color: black;
  opacity: 1;
}

.createSelectDifficulty .hard:hover {
  background-color: rgb(255, 0, 0);
  border: .4rem solid rgb(220, 0, 0);
  color: black;
  opacity: 1;
}

.createSelectDifficulty .selected {
  /* animation: button .2s forwards; */
  opacity: 1;
  z-index: 4;
  transform: scale(1.2);
}

.createSelectDifficulty .notSelected {
  transform: scale(1.0);
}

.createButtonSubmitContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc(100% - 4rem);
  height: 100%;
  border-radius: 1rem;
  margin-top: 1rem;
}