.createSelectGenres {
  /* position in top left of container */
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: fit-content;
}

.createSelectGenres .genre {
  position: relative;
  width: calc(10vw - 20px);
  height: calc(10vw - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  background: #000;
  border-radius: .5rem;
  cursor: pointer;
  margin: 1rem;
  transition: background .2s ease-in-out;
}

.createSelectGenres .genereIcon {
  position: absolute;
}

.genereIcon svg {
  transition: all .1s ease-in-out;
  font-size: 400%;
  color: rgba(255, 255, 255, 0.3);
}

/* on hover genre change size of svg */
.genre:hover .genereIcon svg {
  font-size: 500%;
}

.genereIcon span {
  transition: all .1s ease-in-out;
  font-size: 400%;
  color: rgba(255, 255, 255, 0.3);
}

/* on hover category change size of svg */
.genre:hover .genereIcon span {
  font-size: 500%;
}

@media screen and (max-width: 1000px) {
  .createSelectGenres .genre {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
    margin: .5rem;
  }

  .genereIcon svg {
    font-size: 300%;
  }

  /* on hover genre change size of svg */
  .genre:hover .genereIcon svg {
    font-size: 400%;
  }

  .genereIcon span {
    font-size: 300%;
  }

  /* on hover category change size of svg */
  .genre:hover .genereIcon span {
    font-size: 400%;
  }
}

@media screen and (max-width: 768px) {
  .createSelectGenres .genre {
    width: calc(25vw - 2px);
    height: calc(25vw - 2px);
    margin: 2rem .5rem;
  }
}