.button {
  background-color: linear-gradient(318deg, rgba(204, 102, 0, 1) 0%, rgba(255, 171, 43, 1) 36%, rgba(255, 200, 111, 1) 100%);
  position: relative;
  width: 40%;
  height: 40%;
  border: 1px solid #f5f5f5;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  overflow: hidden;
}

.button:hover {
  font-size: 1.8rem;
  transform: translateY(-1rem) scale(1.1);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.button .buttonText {
  position: relative;
  z-index: 2;
}

.button .bg {
  position: absolute;
  color: #fff;
  height: 100%;
  width: 0%;
  display: inline;
}

.button .bg1 {
  background-color: rgb(255, 160, 82);
}

.button .bg2 {
  background-color: rgb(255, 140, 32);
}

.button .bg3 {
  background-color: rgb(255, 102, 0);
}

