.container {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* BACKGROUND SECTION */

.button {
  position: relative;
  width: 40%;
  height: 40%;
  border: 1px solid #f5f5f5;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  overflow: hidden;
}

.button:hover {
  font-size: 1.8rem;
  transform: translateY(-1rem) scale(1.1);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.button .text {
  position: relative;
  z-index: 2;
}

.button .bg {
  position: absolute;
  color: #fff;
  height: 100%;
  width: 0%;
  display: inline;
}

.button .bg1 {
  background: linear-gradient(90deg, rgba(255 170 43 / 0) 0%, rgb(255 194 101) 50%, rgba(255 170 43 / 0) 100%);
}

.button .bg2 {
  background-color: green;
}

.button .bg3 {
  background-color: blue;
}

