.user {
  position: absolute;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  top: 10%;
  background-color: rgba(255, 200, 111, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border: .3rem solid rgb(255, 160, 18);
}

.grab {
  cursor: grab;
  z-index: 0;
}

.grabbing {
  cursor: grabbing;
  z-index: 100;
}

.user svg {
  position: relative;
  font-size: 3.5rem;
}

.user img {
  position: relative;
  width: 100%;
  display: block;
  object-fit: contain;
}