.joinGameModal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 150rem,

  /* animation-name: modalBackgroundAnimation; */
  /* animation-duration: 0.5s; */
  /* animation-timing-function: ease-in-out; */
  /* animation-fill-mode: forwards; */
}

.fadeOutModal {
  animation-name: modalBackgroundAnimation;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.modalContainer {
  position: relative;
  width: 40%;
  height: 40%;
  background-color: white;
  border-radius: 1rem;
  overflow: auto;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: .5rem solid rgb(255, 153, 37);
}

.modalContainer h4 {
  margin: 2rem;
}

.modalContainer .modalCloseButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  cursor: pointer;
  border-radius: 50%;
}

.modalContainer .modalCloseButton svg {
  font-size: 3rem;
}

.modalContainer .modalInput {
  width: 80%;
  margin: 2rem;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 174, 94, 0.4);
  border-radius: 0.5rem;
  outline: none;
}